* {
  box-sizing: border-box;
}
@font-face {
  font-family: "Commissioner";
  font-weight: 100 900;
  font-display: block;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("/fonts/Commissioner-VariableFont_wght.ttf") format("truetype");
}
@tailwind base;
@tailwind components;
@layer components {
  .wrapper {
    @apply p-4 mx-auto max-w-7xl sm:px-6 lg:px-8;
  }
  .display-large {
    @apply text-[57px] capitalize leading-[64px] text-gray-700 font-bold;
  }
  .display-medium {
    @apply text-[45px] capitalize leading-[52px] text-gray-700 font-bold;
  }
  .display-small {
    @apply text-[36px] capitalize leading-[44px] text-gray-700 font-bold;
  }
  .headline-large {
    @apply text-[32px] leading-[40px] text-gray-700 capitalize font-bold;
  }
  .headline-medium {
    @apply text-[28px] leading-[36px] text-gray-700 capitalize font-bold;
  }
  .headline-small {
    @apply text-[24px] leading-[32px] text-gray-700 capitalize font-bold;
  }
  .title-large {
    @apply text-[22px] leading-[28px] text-gray-700 capitalize font-bold;
  }
  .title-medium {
    @apply text-[16px] leading-[24px] text-gray-700 capitalize font-bold;
  }
  .title-small {
    @apply text-[14px] leading-[20px] text-gray-700 capitalize font-bold;
  }
  .label-large {
    @apply text-[14px] leading-[20px] text-gray-700;
  }
  .label-medium {
    @apply text-[12px] leading-[16px] text-gray-700;
  }
  .label-small {
    @apply text-[11px] leading-[16px] text-gray-700;
  }
  .body-large {
    @apply text-[16px] leading-normal text-gray-700;
  }
  .body-medium {
    @apply text-[14px] leading-[20px] text-gray-700;
  }
  .body-small {
    @apply text-[12px] leading-[16px] text-gray-700;
  }
}
@tailwind utilities;
